pyTelegramBotAPI==4.15.0
rembg[gpu,cli]==2.0.50
Pillow==10.1.0
Flask==2.3.3
opencv-python-headless==4.8.1.78
numpy==1.24.4
requests==2.31.0
gunicorn==21.2.0
scikit-image==0.21.0
waitress==2.1.2
aiohttp==3.8.5
